@model Web.ViewModel.CadastroUsuarioVM

@using (Html.BeginForm("Excluir", "CadastroUsuario", FormMethod.Post)) {
    @Html.AntiForgeryToken()
    <div class="box-body">
        <div class="box-header with-border">
            <h3 class="box-title">Deseja realmente excluir o usuário <label>@Html.DisplayTextFor(model => model.Usuario.Nome)</label>?</h3>
            @Html.HiddenFor(model => model.Usuario.Cpf)
        </div>
        <div class="box-footer">
            <div class="text-center">
                <button type="submit" class="btn bg-orange btn margin"><i class="fa fa-check"></i> Excluir</button>
                <button type="button" class="btn bg-navy btn margin" onclick="CancelarWindowsForms()"><i class="fa fa-close"></i> Cancelar</button>
            </div>
        </div>
    </div>
}