@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script>
        $(function () {
            location.reload();
        });
    </script>
</head>
<body>

    <div class="text-center">
        <img src="~/Arquivos/images/icons/erro.png" style="height:50px; width:50px;" />
    </div>
    <hgroup>
        <h3 class="text-center">&nbsp;Desculpe, sua sessão expirou!</h3>
    </hgroup>

    <div class="text-center">
        <a href="#" onclick="location.reload()" class="btn bg-navy btn margin"><i class="fa fa-user">&nbsp;</i>Fazer Login</a>
    </div>
</body>
</html>
