@model Web.ViewModel.CadastroIncidenteVM

            @using (Html.BeginForm("Excluir", "CadastroIncidente", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                <div class="box-body">
                    <div class="box-header with-border">
                        @Html.HiddenFor(model => model.IncidenteRecorrente.Id)
                        <h3 class="box-title">Deseja realmente excluir <label>@Html.DisplayTextFor(model => model.IncidenteRecorrente.Descricao)</label>?</h3>
                    </div>
                    <div class="box-footer">
                        <div class="text-center">
                            <button type="submit" class="btn bg-orange btn margin"><i class="fa fa-check"></i> Excluir</button>
                            <button type="button" class="btn bg-navy btn margin" onclick="CancelarWindowsForms()"><i class="fa fa-close"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            }
